@model IEnumerable<MvcFilm.Models.Movie>
@section Styles {
    <link rel="stylesheet" href="~/css/Movie.css" asp-append-version="true" />
}

<h1 class="page-header">Manage movies</h1>


<a asp-action="Create" class="btn btn-primary">Add New Movie</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseYear</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
